@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.about-wrapper {
  height: 100vh;
}
.about-left {
  background: #c5bda9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.about-left-content > div {
  background: #afa288;
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center;
}
.about-left-content {
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img {
  display: block;
  width: 200px;
}
.about-img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 55%;
}
.about-left-content h2 {
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #edffec;
}
.about-left-content h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.about-right {
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
}
.about-right h1 {
  font-size: 7rem;
  text-transform: uppercase;
}
.about-right h1 span {
  color: #afa288;
}
.about-right h2 {
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-left {
    position: relative;
  }
  .about-left-content {
    position: absolute;
    right: -50px;
  }
}

.tag {
  margin-top: -112px;
  margin-left: 234px;
}
